
body{
background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
height: 100vh;
width: 100vw;
overflow: hidden;
}

div{
    display: block;
    align-content: center;
}

img{
    width: 20%;
    margin-left: 40%;
}


h1,h2{
    text-align: center;
}

form{
    text-align: center;
}
